@model List<DateTime>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGrid</title>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js "></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</head>
<body>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Flight Date</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="anychart" asp-controller="home" asp-route-dateTime="@item"
                       class="btn btn-primary btn-lg btn-block">@Html.DisplayFor(modelItem => item)</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="home" asp-route-dateTime="@item"
                       class="btn btn-danger btn-lg btn-block">Delete</a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Flight Date</th>
            </tr>
        </tfoot>
    </table>

</body>

</html>